# Arquivos de Build
/build/
/app/build/
.gradle/
/local.properties

# Configurações do IntelliJ/Android Studio 
.idea/
*.iml

# Cache
.caches/
.logs/

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários ou compilados
/out/
*.apk
*.jar
*.swp
*.swo
*.log
